body {
  background-color: #273280;
  animation: bgAnimation 10s linear infinite;
}

#wrapper {
  margin-top: 20vh
}

.texts{
  color: #c3b7b7;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.timer {
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  color: #fff;
}

@keyframes bgAnimation {
  0% { background-color: #273280;}
  25% { background-color: #330f80;}
  75% { background-color: #751174;}
  100%{ background-color: #273280;}
}